
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.item-box{
  margin-bottom: 10vh;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
}

.item{
  width: 20vw;
  height: 40vh;
  padding: 10px;
  img{
    width: 100%;
    height: 80%;
  }
}


/* cart */

#checkout-summary{
  /* display: none; */
  padding: 10px;
  border: 1px solid black;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}


button{
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background-color: rgb(29, 194, 155);
  color: white;
  font-size: 1.5vw;
}

.cartPage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/* ----------------------- */
body {
  font-family: Arial, sans-serif;
}

#products {
  display: flex;
  flex-wrap: wrap;
}

#products div {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

#cart {
  margin-top: 20px;
}

#checkout-button {
  background-color: #6772e5;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
